.main {
  @apply flex-1 h-screen relative overflow-hidden border border-solid font-poppins;
}
/* pb-[15vh] */
.main .nav {
  @apply flex items-center justify-between text-[22px] p-[20px] text-[#494949] font-semibold font-poppins;
}

.main .nav .menu {
  @apply space-y-[3px] md:hidden
}

.main .nav .menu div {
  @apply bg-gray-800 h-[3px] w-[20px] rounded-md
}

.main .nav .menu div:nth-child(1) {
  @apply w-[17px]
}

.new-chat {
  @apply inline-flex items-center justify-between py-[6px] px-[15px] bg-[#eaecf0] rounded-[50px] text-[16px] text-gray-700 cursor-pointer font-medium w-full;
}

.drawer .recent {
@apply font-medium font-poppins mt-10 text-[15px] text-gray-600
}

.new-chat div {
  @apply flex items-center gap-[10px]
}

.new-chat img {
  @apply w-[22px]
}

.main .nav .menu div:nth-child(3) {
  @apply w-[14px]
}

.main .nav img {
  @apply w-[40px] rounded-full;
}

.main-container {
  @apply max-w-[900px] m-auto relative h-full overflow-hidden ;
}

.main .greet {
  @apply md:my-[50px] mt-[50px] text-[20px] md:text-[56px] text-[#a7a7a7] p-[20px] pb-0 font-medium text-center md:text-left;
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.main .cards {
  grid-template-columns: repeat(2, 1fr); /* Two columns for mobile */
  @apply grid gap-[15px] p-5 font-jost;
}

.main .cards:has(.card:hover) .card:not(:hover){
  opacity: 0.5;
  filter: blur(80%);
}

@media (min-width: 768px) {
  .main .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.main .card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  @apply h-[140px] md:h-[160px] p-[15px] bg-[#f0f4f9] md:w-auto inline-flex w-auto rounded-[10px] relative cursor-pointer;
}

@media (min-width: 768px) {
  .main .card {
    @apply w-auto flex-1;
  }
}

/* .main .cards {
  /* display: grid; 
  /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
  @apply gap-[15px] px-[20px] md:flex space-x-3 space-y-3;
}


.main .card {
  @apply h-[160px] p-[15px] bg-[#f0f4f9] md:w-auto inline-flex w-[45%] rounded-[10px] relative cursor-pointer shadow-sm;
} */


.main .card img {
  @apply w-[35px] p-[5px] absolute bg-white rounded-[20px] bottom-[10px] right-[10px] h-auto;
}

.main .card p {
  @apply text-[#585858] text-[15px] md:text-[17px];
}

.main .card:hover {
  @apply bg-[#dfe4ea] transition scale-105;
}

.main-bottom {
  @apply absolute bottom-0 left-0 right-0 w-full md:max-w-[900px] px-[20px] m-auto z-40 bg-white h-auto;
}

.search-box {
  @apply flex items-center justify-between gap-[20px] bg-white py-[2px] px-[20px] rounded-[20px] h-auto border-gray-300 border-solid border relative;
}

.search-box img {
  width: 24px; /* Adjust the width of the image as needed */
  height: auto;
  cursor: pointer; 
}

.search-box textarea {
  @apply flex-1 bg-white border-none outline-none py-[14px] md:py-[12px] px-[10px] text-[18px];
  resize: none; 
  overflow-y: hidden; 
  height: 50px; 
  max-height: 200px;
  padding-right: 45px;
}



.search-box div {
  position: absolute;
  /* bottom: 17px; */
  right: 30px;
  @apply bottom-[17px] md:bottom-[15px]

}

.main .bottom-info {
  @apply text-[10px] md:text-[13px] my-[8px] mx-auto text-center font-medium md:font-light text-black bg-white;
}

.result {
  @apply px-[5%] h-full overflow-y-auto pb-60;
}

/* .result::-webkit-scrollbar {
  display: none;
} */

/* Scrollbar Track */
.result::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  @apply bg-[#f4f4f4] rounded-md
}

/* Scrollbar Thumb */
.result::-webkit-scrollbar-thumb {
  background-color: #e9e3f5; /* color of the scrollbar thumb */
  @apply rounded-b-md
}

/* Scrollbar Track when being hovered */
.result::-webkit-scrollbar-track:hover {
  background-color: #f3f3f3; /* color of the scrollbar track when hovered */
}

/* Scrollbar Thumb when being hovered */
.result::-webkit-scrollbar-thumb:hover {
  background-color: #e6e2ed; /* color of the scrollbar thumb when hovered */
}

.result-title {
  @apply my-[40px] flex items-center gap-[20px] capitalize;
}

.result img {
  @apply rounded-full w-[30px];
}

.result-data {
  @apply gap-[20px];
}

.loader {
  @apply w-full flex flex-col gap-[15px] mt-3;
}

.loader hr {
  @apply rounded-[4px] rounded-r-lg border-none animate-pulse bg-[#f6f7f8] h-[25px];
  background: linear-gradient(to right, #9ed7ff, #cdf0f9, #9ed7ff);
  background-size: 800px 50px;
  animation: loader 3s infinite linear;
}

.loader hr:nth-child(1) {
  @apply w-[90%];

}
.loader hr:nth-child(3) {
  @apply w-[75%];

}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px ;
  }
}

.result-data p{
    @apply text-[15px] md:text-[17px] font-light mt-[10px] max-w-full;
    line-height: 1.8;
}


