@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Outfit; */
}

#root {
  @apply max-h-screen;
  display: flex;
  animation: fadeIn 1.5s;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.entry-text {
  height: 50px;
  width: 350px;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #565555;
  outline: none;
  resize: none;
  border-radius: 10px;
}

#wifi-loader {
  --background: #62abff;
  --front-color: #7b71d9;
  --front-color-in: #5c96cc;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke: var(--front-color-in);
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color-in);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.cta {
  position: relative;
  margin: auto;
  padding: 10px 26px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  background: #1e293be9;
  border-radius: 20px;
  @apply hover:scale-105 transition shadow-md backdrop-blur-md;
}

.cta span {
  letter-spacing: 0.05em;
  @apply relative font-poppins font-medium text-[15px] text-gray-100
    /* @apply shadow-lg backdrop-blur-md; */;
}

.cta svg {
  position: relative;
  top: 6px;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #abc7e3;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  /* @apply shadow-lg backdrop-blur-md; */
}

.cta:hover:before {
  width: 100%;
  background: #1e293be9;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.land {
  background-image: url("/src/assets/bg.svg");

  /* Set background size and repeat */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-highlight {
  background: -webkit-linear-gradient(16deg, #337aed, #f03d2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: #2B3549;
  text-decoration-thickness: 10px; */
  @apply md:text-[60px] text-[25px]
}


.logout {
  @apply flex items-center text-[18px] text-slate-700 font-poppins font-medium px-[10px] py-[8px] space-x-[12px] rounded-[50px]
  cursor-pointer capitalize w-full hover:bg-gray-300;
}

.logout img {
  @apply size-6
}